@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal;
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%;
  }

  to {
    --dot-progress: 100%;
  }
}

.institutional-links p,
.policies-links li {
  flex: 100%;
}

@media screen and (max-width: 960px) {
  .about-us-link {
    justify-content: center !important;
  }

  .policies-links {
    text-align: center;
    flex-direction: row !important;
  }

  .footer-logos {
    align-items: center !important;
  }

  .institutional-links p {
    text-align: center;
  }
}

@media screen and (min-width: 960px) {
  .about-us-link {
    justify-content: flex-end !important;
  }

  .footer-logo {
    position: absolute;
    right: 0;
    left: 0;
  }

  .institutional-logo {
    height: 56px;
  }

  .institutional-links p {
    text-align: right;
  }
}

/* Apagar quando descobrirmos o motivo do preço cortado repetido */
.line-through {
  display: none !important;
}

.category-list .category-filter {
  display: none !important;
}

.product-card-price {
  font-size: 24px;
  color: #ede707;
}

.product-card-title {
  font-size: 16px;
  color: #231f20;
}

.product-card-cart-button {
  background-color: #231f20 !important;
  color: #fff !important;
  margin-top: 15px;
  justify-content: center !important;
}

@media screen and (min-width: 1536px) and (max-width: 1660px) {
  .container {
    max-width: 1366px !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .container {
    max-width: 1024px !important;
  }
}

#contact-form-iframe {
  width: 100%;
  height: 100vh;
}

.privacy-policy,
.exchange-policy,
.shipping-policy {
  margin: 1.25vh 20vw;
}

.privacy-policy p,
.exchange-policy p,
.shipping-policy p {
  font-size: 18px;
  margin-bottom: 16px;
  color: rgb(161, 161, 170);
}

.privacy-policy h2,
.exchange-policy h2,
.shipping-policy h2 {
  font-size: 24px;
  margin-bottom: 24px;
  margin-top: 8px;
  color: #000;
  font-weight: 700;
}

.privacy-policy h3,
.exchange-policy h3,
.shipping-policy h3 {
  font-size: 21px;
  margin-bottom: 21px;
  color: #000;
  font-weight: 500;
}

.topbar {
  width: 100%;
  background-color: #ede707;
  padding: 10px 0px;
}

.topbar .content {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

@media (min-width: 640px) {
  .topbar .content {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .topbar .content {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .topbar .content {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .topbar .content {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .topbar .content {
    max-width: 1536px;
  }
}

.topbar .content .topic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar .content .topic img,
.topbar .carousel-item span img {
  margin-right: 10px;
}

.topbar .carousel-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 16px !important;
}

footer .container {
  padding-top: 50px !important;
  padding-bottom: 100px !important;
  gap: 50px !important;
}

footer .container .columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 960px) {
  footer .container .columns {
    flex-wrap: wrap;
  }

  footer .container .columns .column-vidamina,
  footer .container .columns .column-institucional,
  footer .container .columns .column-pagamento,
  footer .container .columns .column-contato {
    flex: 100%;
  }

  footer .container .columns .column-linhas,
  footer .container .columns .column-beneficios {
    flex: 50%;
  }

  footer .container .columns .column-linhas,
  footer .container .columns .column-beneficios,
  footer .container .columns .column-institucional,
  footer .container .columns .column-pagamento,
  footer .container .columns .column-contato {
    margin-top: 50px;
  }
}

footer .container .columns div a {
  display: block;
}

footer .container .columns div a:hover {
  text-decoration: underline;
}

footer .container .columns div a:not(:last-of-type) {
  margin-bottom: 5px;
}

footer .container .columns div p.title {
  font-weight: 600;
  margin-bottom: 10px;
}

footer .container .columns .column-vidamina .subtitle {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 18px;
}

footer .container .columns .column-vidamina .cnpj {
  margin-bottom: 2px;
}

footer .container .columns .column-vidamina .address {
  font-size: 14px;
  font-weight: 100;
}

footer .container .columns .column-vidamina .address:not(:last-of-type) {
  margin-bottom: 10px;
}

footer .container .columns .column-institucional {
  display: flex;
}

@media screen and (max-width: 960px) {
  footer .container .columns .column-institucional {
    flex-direction: row;
    justify-content: space-between;
  }

  footer .container .columns .column-institucional div {
    flex: 50%;
  }
}

@media screen and (min-width: 960px) {
  footer .container .columns .column-institucional {
    flex-direction: column;
  }
}

@media screen and (min-width: 960px) {
  footer .container .columns .column-institucional div:not(:first-child) {
    margin-top: 50px;
  }
}

footer .container .columns .column-pagamento .payment,
footer .container .columns .column-pagamento .security {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .container .columns .column-pagamento .security {
  margin-top: 10px;
}

footer .container .columns .column-pagamento .payment img:not(:last-of-type) {
  margin-right: 15px;
}

@media screen and (max-width: 960px) {
  footer .container .columns .column-contato {
    text-align: center;
  }
}

@media screen and (min-width: 960px) {
  footer .container .columns .column-contato {
    text-align: right;
  }
}

footer .container .columns .column-contato .socials {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

@media screen and (max-width: 960px) {
  footer .container .columns .column-contato .socials {
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 960px) {
  footer .container .columns .column-contato .socials {
    text-align: right;
    justify-content: flex-end;
  }
}

footer .container .columns .column-contato .socials a:not(:last-of-type) {
  margin-right: 15px;
}

footer .container hr {
  border-color: #000 !important;
}

footer .container .disclaimer p {
  font-weight: 200;
  font-size: 14px;
}

footer .container .vtex {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.dropdown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 400px !important;
  background-color:#97999B;
}

.dropdown ul {
  gap:25px !important;
  padding:25px;
}

.dropdown .dropdown-items {
  width:calc(50% - 25px/2);
  padding:0px !important;
  height:auto !important;
}

.dropdown .dropdown-items ul {
  display:none !important;
}

@media (min-width: 640px) {
  .menu-row {
    padding:0px calc(50vw - 640px/2);
  }
}

@media (min-width: 768px) {
  .menu-row {
    padding:0px calc(50vw - 768px/2);
  }
}

@media (min-width: 1024px) {
  .menu-row {
    padding:0px calc(50vw - 1024px/2);
  }
}

@media (min-width: 1280px) {
  .menu-row {
    padding:0px calc(50vw - 1280px/2);
  }
}

@media (min-width: 1536px) {
  .menu-row {
    padding:0px calc(50vw - 1536px/2);
  }
}

@media screen and (min-width: 1536px) and (max-width: 1660px) {
  .menu-row {
    padding:0px calc(50vw - 1366px/2) !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .menu-row {
    padding:0px calc(50vw - 1024px/2) !important;
  }
}

.menu-row:nth-child(2) {
  background-color:#97999B;
  color:#FFF;
}

.nossas-linhas {
  grid-template-columns:repeat(5, minmax(0, 1fr)) !important;
}

.text-about-us {
  max-width:100% !important;
}

.text-about-us p {
  font-size:16px !important;
}

.header-signature {
  font-weight:800;
  font-size:14px;
  margin-top:10px;
}

.menu-icons-desktop {
  align-items:center;
  margin:auto;
  margin-right:0px;
}

.menu-icons-desktop p {
  text-align:center;
  line-height:1em;
  font-weight:600;
  font-size:0.875rem;
}

.menu-icons-desktop a {
  margin-right:10px;
}

.menu-icons-desktop a svg {
  margin:auto;
}

.benefits-list {
  padding-top:4.25rem !important;
}

.product-details-container {
  padding-top:4.25rem !important;
}

.category-banner {
  margin-top:2.25rem;
}

@media screen and (max-width:960px) {
  .category-banner h1 {
    text-align:center !important;
  }
}

.wishlist {
  grid-template-columns: 100% 1fr !important;
}

.wishlist aside {
  display:none !important;
}

.differentials {
  padding-top:2.5rem;
  margin:auto;
}

.differentials ul {
  list-style-type: circle;
}

.differentials ul li {
  font-size:18px;
  color:rgb(161, 161, 170);
}

.differentials ul li:not(:last-child) {
  margin-bottom:10px;
}

@media (min-width: 640px) {
  .differentials {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .differentials {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .differentials {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .differentials {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .differentials {
    max-width: 1536px;
  }
}