@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.institutional-links p,
.policies-links li {
  flex:100%;
}

@media screen and (max-width:960px) {
  .about-us-link {
    justify-content:center !important;
  }

  .policies-links {
    text-align:center;
  }

  .footer-logos {
    align-items:center !important;
  }

  .institutional-links p {
    text-align:center;
  }
}

@media screen and (min-width:960px) {
  .about-us-link {
    justify-content:flex-end !important;
  }

  .footer-logo {
    position:absolute;
    right:0;
    left:0;
  }

  .institutional-logo {
    height:56px;
  }

  .institutional-links p {
    text-align:right;
  }
}

/* Apagar quando descobrirmos o motivo do preço cortado repetido */
.line-through {
  display:none !important;
}

.category-list .category-filter {
  display:none !important;
}

.product-card-price {
  font-size:24px;
  color:#EDE707;
}

.product-card-title {
  font-size:16px;
  color:#231F20;
}

.product-card-cart-button {
  background-color: #231F20 !important;
  color:#FFF !important;
  margin-top:15px;
  justify-content:center !important;
}

@media screen and (min-width:1536px) and (max-width:1660px) {
  .container {
    max-width: 1366px !important;
  }
}

@media screen and (min-width:1200px) and (max-width:1300px) {
  .container {
    max-width: 1024px !important;
  }
}

.disclaimer {
  margin-top:50px;
}

.disclaimer p {
  font-size:12px;
  color:#231F20;
}

#contact-form-iframe {
  width:100%;
}

@media screen and (max-width:960px) {
  #contact-form-iframe {
    height:100vh;
  }
}

@media screen and (min-width:960px) {
  #contact-form-iframe {
    height:60vh;
  }
}